@import 'common/reset';
@import 'common/color';
@import 'common/components';

// site wide styles
body {
    background: $whitesmoke;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: auto;
}

.main {
    display: flex;
    flex-direction: column;
    nav {
        min-height: 48px;
        padding: 8px 32px;
        display: flex;
        div {
            flex: 1;
            text-align: right;
            margin-right: 8px;
            span {
                margin-top: 19px;
            }
        }
    }
    
    #signup-form {
        text-align: center;
        .top {
            color: $lightslategray;
            .intuit {
                height: 72px;
                width: 200px;
            }
            ul {
                display: flex;
                margin: auto;
                width: 300px;
                align-content: center;
                justify-items: center;
                li {
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    img {
                        height: 20px;
                    }
                    span {
                        font-size: 17px;
                        margin-left: 4px;
                        font-weight: 400;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
        .content {
            background: $white;
            margin: auto;
            width: 330px;
            margin-top: 16px;
            border: $lightgray 1px solid;
            border-radius: 2px;
            color: $intuitgrey;
            .body {
                padding: 24px 20px;
                h1 {
                    font-size: 22px;
                    margin-top: 4px;
                }
                .account-info {
                    margin-top: 24px;
                }
                .form {
                    margin-top: 24px;
                    text-align: left;
                    .form-group {
                        display: flex;
                        flex-direction: column;
                        margin-top: 28px;
                        input {
                            margin-top: 8px;
                            border: $lightgray 1px solid;
                            border-radius: 2px;
                            padding: 6px 4px;
                        }
                        .info {
                            font-size: 40%;
                            font-weight: 200;
                            margin-top: 4px;
                        }
                    }
                    button {
                        width: 100%;
                        margin-top: 32px;
                        box-shadow: 0 1px 0 1px $lightgray;
                    }
                }
                .policy {
                    margin-top: 40px;
                    color: $lightgray;
                    font-size: 10px;
                    font-style: italic;
                    line-height: 18px;
                }
            }
            .recaptcha {
                background: $whitesmoke;
                padding: 16px;
                color: $lightgray;
                font-size: 10px;
                line-height: 18px;
            }
        }
    }

    footer {
        margin: auto;
        padding: 16px;
        text-align: center;
        color: $intuitgrey;
        ul {
            display: flex;
            margin: auto;
            width: 136px;
            li {
                padding: 4px;
                align-items: center;
                a {
                    color: $intuitgrey;
                }
            }
        }
        p {
            margin-top: 4px;
        }
    }
}

