// 'normal' size of text
span, p, a {
    font-size: 12px;
}

// button style
button {
    width: 96px;
    height: 32px;
    background: $darkcyan;
    border: solid 1px $intuitgrey;
    border-radius: 4px;
    color: $white;
    font-size: 16px;
    i {
        margin-right: 8px;
    }
}

// link style
a {
    text-decoration: none;
    color: $darkcyan;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}