<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML Forms Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <div class="center">
                    <p>Already have an Intuit account?</p>
                    <span><a href="">I forgot my User ID or Password</a></span>
                </div>
                <button><span><i class="fa fa-lock" aria-hidden="true"></i>Sign In</span></button>
            </nav>
        </header>
        
        <section id="signup-form">
            <section class="top">
                <img src="<%=require('./images/intuit_logo.svg')%>" class="intuit" alt="Intuit logo">
                <ul>
                    <li>
                        <img src="<%=require('./images/turbotax.png')%>" alt="Turbotax logo">
                        <span>turbotax</span> 
                    </li>
                    <li>
                        <img src="<%=require('./images/quickbooks.png')%>" alt="Quickbooks logo">
                        <span>quickbooks</span>
                    </li>
                    <li>
                        <img src="<%=require('./images/mint.png')%>" alt="Mint logo">
                        <span>mint</span>
                    </li>
                </ul>
            </section>
            <section class="content">
                <div class="body">
                    <h1>One Account.</h1>
                    <h1>Everything Intuit.</h1>
                    <p class="account-info">Create an account for all of Intuit's products.</p>
                    <span class="learn-more"><a href="">Learn More</a></span>
                    <div class="form">
                        <div class="form-group">
                            <label for="email"><span>Email address</span></label>
                            <input type="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="phone"><span>Phone (recommended)</span></label>
                            <input type="tel" name="phone">
                            <span class="info">Standard call, messaging or data rates may apply.</span>
                        </div>
                        <div class="form-group">
                            <label for="Password"><span>Password</span></label>
                            <input type="password" name="password">
                        </div>
                        <button><span><i class="fa fa-lock" aria-hidden="true"></i>Create Account</span></button>
                    </div>
                    <div class="policy">
                        <p>By clicking Create Account, you agree to our</p>
                        <p><a href="">License Agreement</a> and have read and acknowledge</p>
                        <p>our <a>Privacy Statement.</a></p>
                    </div>
                </div>
                <div class="recaptcha">
                    <p>Invisible reCAPTCHA by Google <a>Privacy Policy</a> and <a>Terms of Use.</a></p>
                </div>
            </section>
        </section>
        <footer>
            <ul>
                <li><a href="">Legal</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Security</a></li>
            </ul>
            <p>© 2018 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.</p>
            <p>Terms and conditions, features, support, pricing, and service options subject to change without notice.</p>
        </footer>
    </div>    
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
